<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link href="//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="app/css/styles.min.css" rel="stylesheet" />

</head>
<body>

<div id="app">
    <div id="ui-controls">

        <div class="overlay filters">

            <div class="ui-group">
                <h4 class="header">Technology</h4>
                <ul class="checkbox-group" data-filter-type="0">
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t1" data-filter="Lighting">
                    <label for="checkbox-t1">Lighting</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t2" data-filter="Heating & Cooling">
                    <label for="checkbox-t2">Heating & Cooling</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t3" data-filter="Windows & Building Envelope">
                    <label for="checkbox-t3">Windows & Building Envelope</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t4" data-filter="Renewable Energy">
                    <label for="checkbox-t4">Renewable Energy</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t5" data-filter="Appliances & Plug Loads">
                    <label for="checkbox-t5">Appliances & Plug Loads</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t6" data-filter="Water">
                    <label for="checkbox-t6">Water</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-t7" data-filter="Metering & Grid Improvements">
                    <label for="checkbox-t7">Metering & Grid Improvements</label>
                </li>
                </ul>
            </div>

            <div class="ui-group">
                <h4 class="header">Agency</h4>
                <ul class="checkbox-group" data-filter-type="1">
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a1" data-filter="USDA">
                    <label for="checkbox-a1">U.S. Department of Agriculture</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a2" data-filter="DOC">
                    <label for="checkbox-a2">U.S. Department of Commerce</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a3" data-filter="DOD">
                    <label for="checkbox-a3">U.S. Department of Defense</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a4" data-filter="DOE">
                    <label for="checkbox-a4">U.S. Department of Energy</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a5" data-filter="HHS">
                    <label for="checkbox-a5">U.S. Department of Health and Human Services</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a6" data-filter="DHS">
                    <label for="checkbox-a6">U.S. Department of Homeland Security</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a7" data-filter="DOI">
                    <label for="checkbox-a7">U.S. Department of the Interior</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a8" data-filter="DOJ">
                    <label for="checkbox-a8">U.S. Department of Justice</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a9" data-filter="VA">
                    <label for="checkbox-a9">U.S. Department of Veterans Affairs</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a10" data-filter="EPA">
                    <label for="checkbox-a10">Environmental Protection Agency</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a11" data-filter="GSA">
                    <label for="checkbox-a11">General Services Administration</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a12" data-filter="NASA">
                    <label for="checkbox-a12">National Aeronautics and Space Administration</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a13" data-filter="NFS">
                    <label for="checkbox-a13">National Science Foundation</label>
                </li>
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox-a14" data-filter="SSA">
                    <label for="checkbox-a14">Social Security Administration</label>
                </li>
                </ul>
            </div>
        </div>

        <div id="legend" class="overlay">
            <h4 class="header">Climate Zone Legend</h4>
            <div class="cz cz1">1</div>
            <div class="cz cz2">2</div>
            <div class="cz cz3">3</div>
            <div class="cz cz4">4</div>
            <div class="cz cz5">5</div>
            <div class="cz cz6">6</div>
            <div class="cz cz7">7</div>
            <div class="cz cz8">8</div>
        </div>

    </div>



    <div id="map"></div>

</div>


    <!-- Templates -->
    <script type="text/template" class="template">
        <h4><%= properties['project_name'] %></h4>
        <div class="clearfix">
        <span class="pull-left"><%= properties['location'] %></span>
        <span class="pull-right"><%= properties['date_implemented'] %></span>
        </div>

        <% if ( properties['link_image'] ) { %>
            <div><img src="<%= properties['link_image'] %>" alt=""></div>
        <% } %>

        <b>Technology: </b><%= properties['technology_category'] %><br>
        <b>Description: </b><%= properties['description'] %><br>

        <b>Savings:</b><br>

        <% if ( ! _.isNull(properties['energy_savings_costs_year']) && properties['energy_savings_costs_year'].length ) { %>
        <%= properties['energy_savings_costs_year'] %>/year <br>
        <% } %>

        <% if ( ! _.isNull(properties['energy_savings_kbtu_sf']) && properties['energy_savings_kbtu_sf'].length ) { %>
        <%= properties['energy_savings_kbtu_sf'] %> kBTU/SF <br>
        <% } %>

        <% if ( ! _.isNull(properties['energy_savings_kwh_year']) && properties['energy_savings_kwh_year'].length ) { %>
        <%= properties['energy_savings_kwh_year'] %> kWh/year <br>
        <% } %>

        <% if ( ! _.isNull(properties['water_savings_kgal_year']) && properties['water_savings_kgal_year'].length ) { %>
        <b>Water Savings: </b><%= properties['water_savings_kgal_year'] %>  Kgal/year<br>
        <% } %>

        <% if ( ! _.isNull(properties['ghg_savings']) &&  properties['ghg_savings'].length ) { %>
            <b>GHG savings: </b><%= properties['ghg_savings'] %>  (CO<sub>2</sub> tons reduced / year)<br>
        <% } %>


        <a target="_blank" href="<%= properties['link_page'] %>">More information</a><br>
    </script>


    <!-- Libraries -->
    <script
        src="//code.jquery.com/jquery-1.8.3.min.js">
    </script>

    <script
        src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js">
    </script>

    <script
        src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js">
    </script>

    <script
        src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js">
    </script>

    <script
        src="//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js">
    </script>


    <!-- Application -->
    <script
        src="app/js/app.js">
    </script>

</body>
</html>
